/* This file is for your main application css. */
h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

html,body{
    margin:0;
    height:100%;
    overflow:hidden;
}

#login_error_image {
    display: none;
    position:absolute;
    height: 300px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

#login_body {
    text-align: center;
    margin: 0;
    margin: 0;
}

#login_button {
    width: 200px;
}

#login_bg{
    min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
    z-index: 0;
}

#login_input{
    position: absolute;
    top: 50%;
    left: 46%;
    margin: 0 auto;
    vertical-align: center;
}

.login_input{
    z-index:1;
    display: block;
    margin: auto;
    vertical-align:center;
    background-color: rgba(0,0,0,0.3);
}


label {
    font-weight:normal;
}

#review_body {
    text-align: center;
}

.tag_buttons {
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    height: 10vh;
}

#buttons {
    display: table;
    margin: 0 auto;
    position: relative;
}

#undo {
    height: 10vh;
    margin-top: 10px;
    position: relative;
}

#images {
    display: block;
    margin: 0 auto;
    position: relative;
}

#image {
    display: block;
    margin: 0 auto;
    height: 60vh;
}

#overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#overlay_image {
    position:absolute;
    height: 300px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
